@import "modules/all.sass"
@import "partials/all.sass"
@import "ui/all.sass"

body
  margin: 0
  background-color: $color-white
  font-family: 'Muli', sans-serif

li
  list-style: none

.wrapper
  margin: auto
  overflow: hidden
  padding: 0px 30px
