@include desktop
  .sidenav, .sidebar
    display: none
  header
    display: block
    position: relative
    padding: 0 30px
    background-color: $color-white
    border-bottom: 1px solid #ddd
    .sidebar
      display: none
    
    .pre-header
      border-bottom: 1px solid #ddd
      
      .navbar
        background: #fff;
        height: 34px !important;
        min-height: 34px !important;
        position: relative
        margin: auto
        max-width: 1024px

        .container-navbar
          height: 100%
          display: flex
          max-width: 1024px
          align-items: center
          flex-direction: row
          justify-content: space-between
          .nav-menu
            display: flex
            justify-content: space-between
            .nav-item
              padding: 10px 20px
              padding-left: 0px
              font-weight: 900
              font-size: 13px
              text-transform: uppercase
              &:last-child
                padding-right: 0px
              a
                color: $color-text
                text-decoration: none
                
          .nav-contract
            display: flex
            
            .icon-phone
              font-size: 15px
              vertical-align: middle
              color: #ff85c0
            .icon-circle
              font-size: 3px
              
            .contract-text
              color: $color-text
              font-size: 10px
              text-decoration: none

    .wrap-navtop
      margin: auto
      display: flex
      padding: 40px 0
      max-width: 1024px
      align-items: center
      background-color: $color-white 
      justify-content: space-between
      .logo
        display: block
        font-weight: 900
        font-size: 30px
      .menu-nav
        padding: 0px
        display: flex
        text-align: center
        list-style-type: none
        justify-content: space-around
        .nav-item
          display: inline-block
          font-weight: 900
          text-transform: uppercase
          line-height: 30px
          height: 30px
          font-size: 15px
          padding: 0px 20px
                
          &:last-child
            padding-right: 0px

          a
            color: $color-text
            text-decoration: none
          
          i
            color: $color-text
            text-decoration: none
            font-size: 15px
        .input-search
          border: 1px solid #ddd  
          display: flex
          align-items: center

    .menu
      margin: auto
      max-width: 1024px
      display: flex
      .nav
        list-style: none
        margin: 0
        padding: 0
        float: left
        text-align: center
        margin-left: -20px
        li
          display: inline-block
          position: relative
          float: left
          background-color: $color-white
          a
            display: inline-block
            text-decoration: none
            color: $color-text
            padding: 12px 20px
            text-transform: uppercase
            letter-spacing: 1.5px
            font-size: 12px
            font-weight: 600
          li
            float: left
            a
              display: block
              font-size: 12px
          &:hover
            background-color: #e8e8e8
        ul
          position: absolute
          padding: 0px
          left: 0
          display: none
        li
          &:hover ul
            ul
            display: none
            display: block
            position: absolute
            z-index: 999
          
        li li
          width: 100%
          text-transform: uppercase
          text-align: left
          ::after
            content: "\f105";
            display: inline-block;
            font-family: "FontAwesome";
            padding-right: 0px;
            float: right;   

.breadcum
  margin: auto
  max-width: 1024px
  h5
    a
      font-size: 10px
      text-decoration: none
      color: $color-text
  span
    margin: 0 

@include tablet
  #main
    transition: margin-left .3s
  .sidenav
    height: 100%
    width: 0px
    position: fixed
    z-index: 2
    top: 0
    left: 0
    overflow-x: hidden
    transition: 0.2s
    background-color: $palette-dark

    &-item
      padding: 8px 8px 8px 32px
      text-decoration: none
      font-size: 15px
      color: $color-white
      display: block
      transition: 0.01s      
      text-transform: uppercase
      
    &:hover
      color: $palette-dark
    .closebtn
      position: absolute
      top: 0
      right: 25px
      font-size: 36px
      text-decoration: none
      color: $color-white
      
  header
    display: block
    position: relative
    padding: 0px 10px
    background-color: $color-white
    border-bottom: 1px solid #ddd
    color: $color-text
    height: 50px
    .pre-header, .wrap-navtop, .menu
      display: none !important
    .sidebar
      height: 100%
      display: flex
      align-items: center
      .btn
        &-sidebar
          position: absolute 
          color: $color-text
          font-size: 20px
          left: 0%
        &-shopping-cart
          font-size: 20px
          position: absolute 
          color: $color-text
          right: 0%

      .logo
        display: block
        font-weight: 900
        font-size: 30px
        margin: 0px auto

@include mobile
  .breadcum
    display: none